<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUÁRIOS</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: rgba(155, 127, 255, 0.404);
        }
        body {
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .content, .content h3, .content p {
            background-color: rgba(255, 228, 196, 0.308);
            padding: 10px;
            border-radius: 5px;
        }

        .content p {
            margin-bottom: 10px;
        }

        .outro {
            border-radius: 5px;
            display: flex;
            justify-content: center;
        }

        header {
            display: flex;
            justify-content: center;
            border-radius: 10px;
            background-color: white;
            width: 20%;
            height: 10%;
        }

        header > h1 {
            padding: 5px;
            border-radius: 10px;
            align-self: center;
        }


    </style>
</head>